/*index-stylesheet.css*/

body {
  font-family: "Trebuchet MS", Verdana, sans-serif;
  background-color: #242946;
  color: #D6D6D6;
}

header {
  text-align: center;

}

p {
  margin: 2em;
  line-height: 1.5;
  text-indent: 30pt;
}

#ingredients {
  margin: 2em;
}

#Directions {
  margin-left: 1em;
}

img {
  width: auto;
  height: 500pt;
  opacity: 0.3;
  padding: 0;
  margin-top: 3em;
}

#over {
    position:absolute;
    width:100%;
    height:100%;
    text-align: center;
    /*handles the horizontal centering*/
}

/*handles the vertical centering*/
.Centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Centered {
    display: inline-block;
    vertical-align: middle;
}



/*link options*/

/*unvisited*/
a:link {
  color: #76D6FF;
}
/*visited*/
a:visited {
  color: #FFD479;
}
/*mouse over*/
a:hover {
  color: #73FDFF;
}
/*selected*/
a:active {
  color: #00FDFF;
}
